.contact-header {
    text-align: center;
    padding-top: 2rem;
    color: #ffffff;
}

.contact-form-container {
    background-color: #2a3b93;
    padding-bottom: 2rem;
    font-family: 'Poppins', sans-serif
}

.contact-form {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    background-color: #2a3b93;
    margin: 2rem auto;
    padding: 1rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact-form label {
    color: #ffffff;
    margin-right: 0.5rem;
}

.contact-message-text-area {
    resize: none;
    border-radius: 10px;
    padding: 0.5rem;
}


.contact-message-input {
    border-radius: 5px;
    border-color: transparent;
    height: 1.5rem;
    padding: 0.1rem;
    width: 100%;
}

.contact-form-field {
    margin-bottom: 0.5rem;
    display: flex;
    width: 70%;
    flex-direction: column;
}

.message-field {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.send-form-button {
    padding: 10px;
    width: 5rem;
    border-radius: 5px;
    background-color: #cdd3e1;
    border: none;
    color: #121d47;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 700;
}

.send-form-button:hover {
    background-color: #989db6;
}

.send-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.successSendEmail {
    text-align: center;
    color: #5a8a0f;
}

.failSendEmail {
    text-align: center;
    color: red;
}

input:focus, textarea:focus {
    outline: none; /* Прибрати стандартну синю рамку */
    border: 2px solid black; /* Змінити колір рамки */
    box-shadow: 0 0 5px rgba(105, 130, 177, 0.9);
}

@media (min-width: 992px) and (max-width: 1400px) {
    .contact-form {
        width: 40%;
    }
}

@media (min-width: 1400px) {

    .contact-form {
        width: 40%;
    }
}