.project {
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-section {
    background-color: #fcfdfd;
    padding-bottom: 4rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
}

.project img {
    margin-top: 2vh;
    max-height: 50vh;
    object-fit: contain;
    max-width: 100%
}

.project-name {
    font-size: 1.5rem;
    color: #2a3b93;
    font-weight: 700;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.projects-header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #2a3b93;
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    color: #0e12e1;
    margin-right: 5%;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

.description {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 450;
    color: #1c2b77;
    padding: 0 0.5rem;
    text-align: justify;
}

.technologies {
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
    margin-top: 0.5rem;
}

.technologies-header {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: #2a3b93;
    text-align: center;
    /*font-family: 'Space Mono', monospace;*/
    font-weight: 600;
    margin-top: 0.5rem;
}

.project-links {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.badge {
    background-color: #2a3b93;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.project:not(:last-child) .divider {
    background-color: #3b4987;
    height: 2px;
    margin-top: 4vh;
}

@media (max-width: 575px) {
    :root {
        font-size: 80%
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    :root {
        font-size: 85%
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    :root {
        font-size: 90%
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    :root {
        font-size: 95%
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    :root {
        font-size: 100%
    }
}

@media (min-width: 1400px) {
    :root {
        font-size: 100%
    }
}



