.project {
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-section {
    background-color: #fcfdfd;
    padding-bottom: 4rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
}

.project img {
    margin-top: 2vh;
    max-height: 50vh;
    object-fit: contain;
    max-width: 100%
}

.project-name {
    font-size: 1.5rem;
    color: var(--dark-blue-color);
    font-weight: 700;
    text-align: center;
}

.projects-header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--dark-blue-color);
}

.project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    color: var(--bright-blue);
    margin-right: 5%;
    text-decoration: none;
    font-weight: 500;
}

.description {
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 450;
    color: #1c2b77;
    padding: 0 0.5rem;
    text-align: justify;
}

.technologies {
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
    margin-top: 0.5rem;
}

.technologies-header {
    font-size: 1.2rem;
    color: var(--dark-blue-color);
    text-align: center;
    font-weight: 600;
    margin-top: 0.5rem;
}

.project-links {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.badge {
    background-color: var(--dark-blue-color);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.project:not(:last-child) .divider {
    background-color: var(--darkest-blue);
    height: 2px;
    margin-top: 4vh;
}
